<!DOCTYPE html>
<html>
<head>
  <title>Храмове</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Храмове</h1>
    <form action="/monuments" method="post">
      <label for="sortBy">Сортиране по:</label>
      <select id="sortBy" name="sortBy">
        <option value="hramove_name">Име</option>
        <option value="avg_rating">Рейтинг</option>
        <option value="year_build">Година на построяване</option>
        <option value="total_reviews">Отзиви</option>
      </select>
      <label for="sortOrder">Ред на сортиране:</label>
      <select id="sortOrder" name="sortOrder">
        <option value="asc">Възходящо</option>
        <option value="desc">Низходящ</option>
      </select>
      <label for="monumentType">Тип Храмове:</label>
      <select id="monumentType" name="monumentType">
        <option value="">Всички</option>
        <% monumentTypes.forEach(type => { %>
          <option value="<%= type %>"><%= type %></option>
        <% }) %>
      </select>
      <label for="religionType">Тип религия:</label>
      <select id="religionType" name="religionType">
        <option value="">Всички</option>
        <% religionTypes.forEach(type => { %>
          <option value="<%= type %>"><%= type %></option>
        <% }) %>
      </select>
      <button type="submit">Сортиране</button>
    </form>
    <div class="grid-container">
      <% monuments.forEach(monument => { %>
        <div class="grid-item">
          <a href="/monument/<%= monument.hramove_id %>">
            <img src="<%= monument.hramove_picture_url %>" alt="<%= monument.hramove_name %>">
            <div class="details">
              <h3><%= monument.hramove_name %></h3>
              <p>Година на построяване: <%= monument.year_build %></p>
              <p>Местоположение: <%= monument.hramove_location %></p>
              <p>обобщение: <%= monument.hramove_summary %></p>
              <p>Тип Храмове: <%= monument.monument_type %></p>
              <p>Тип религия: <%= monument.religion_type %></p>
            </div>
            <div class="footer">
              <span>Средна оценка: <%= monument.avg_rating %></span>
              <span>Общо прегледи: <%= monument.total_reviews %></span>
              <span>Работно време: <%= monument.hramove_working_hours %></span>
              <a href="https://www.google.com/maps/dir/?api=1&destination=<%= encodeURIComponent(monument.hramove_name) %>" target="_blank">Навигирайте ме</a>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
    <a href="/favourites">Моите любими Храмове</a>
  </div>
</body>
</html>